<!-- <form action=""> -->
<input type="text" id="username" placeholder="username" />
<input type="text" id="password" placeholder="password" />
<input type="text" id="name" placeholder="name" />
<input type="date" id="dateOfBirth" placeholder="dateOfBirth" />
<input type="email" id="email" placeholder="email" />
<button onclick="submit()">Submit</button>
<!-- </form> -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="../../public/js/register.js"></script>
