<h1><%= Chapter.content %></h1>
<!-- create comment -->
<input type="text" id="comments" placeholder="input comment" />
<button onclick="addComment('<%= Chapter._id %>')">submit</button>
<!-- view comments -->
<% comments.map((comment, index) =>{%>
<td>
  <p><%= comment.title %></p>
</td>
<%})%>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="/public/js/comment/createComment.js"></script>
